numpy
dataclasses
matplotlib
spacy
PyYAML
click
tqdm
blobfile
trimesh
filelock
beautifulsoup4
scipy
Pillow
imageio
imageio-ffmpeg
pyrender
smplx
plyfile
configer
openmesh
boto3
torchgeometry
rtree
protobuf
open3d
setuptools
pyopengl
scikit-image
dotmap
accelerate
transformers

human-body-prior
git+https://github.com/hassony2/chumpy.git
git+https://github.com/otaheri/chamfer_distance
git+https://github.com/otaheri/bps_torch