dataclasses
matplotlib
spacy
PyYAML
omegaconf
click
tqdm
blobfile
trimesh
filelock
beautifulsoup4
scipy
Pillow
imageio
imageio-ffmpeg
pyrender
smplx
plyfile
configer
openmesh
boto3
torchgeometry
rtree
protobuf
pytorch-lightning
open3d
setuptools
pyopengl
scikit-image
dotmap
einops
accelerate
transformers
numpy==1.23.5
wandb
git+https://github.com/openai/CLIP.git

human-body-prior
git+https://github.com/hassony2/chumpy.git
git+https://github.com/otaheri/chamfer_distance
git+https://github.com/otaheri/bps_torch